*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 100px;
	height: 100%;
}
body{
	margin: 0 !important;
	background: #f7f7f7;
	height: 100%;
}
#app{
	height: 100%;
}
a{
	text-decoration: none;
	color: #666;
	font-size: 12px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
h4{
	text-align: left;
}
li{
    list-style: none;
}
strong, em{
	font-weight: normal;
}
em{
	font-style: normal;
}
i{
	font-style: normal;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.pull-right {
    float: right !important;
}
.pull-left{
	float: left !important;
}
.red{
	color: #f56667;
}
.green{
	color: #48d2a0;
}
input{
	border: none;
	box-shadow: none;
}
